body {
    background-color: lightslategray;
}

.decode-area {
    display: none;
}

.data-check-area {
    display: none;
}

#decode-result-json {
    width: 512px;
    height: 256px;
}

#convert-result-json {
    width: 512px;
    height: 256px;
}

.block {
    margin: 8px;
}

.debug {
    display: none;
}

.warning {
    color: darkred;
}
