.full-size {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.template-with-header {
    display: flex;
    flex-direction: column;
}

.template-with-header > div:first-child {
    flex-shrink: 0;
}

.template-with-header > div:last-child {
    flex-grow: 1;
    overflow: auto;
}

.template-two-columns {
    display: flex;
}

.template-two-columns > div {
    width: 50%;
    overflow: auto;
}
