#main-menu, #rule-menu {
    padding: 8px;
}

#main-menu {
    background-color: gray;
}

#rule-menu {
    background-color: lightgray;
}

#text, #rules {
    white-space: pre-wrap;
    font-family: monospace;
}
