#main-menu {
    padding: 8px;
}

#main-menu {
    background-color: gray;
}

#rule-menu {
    background-color: lightgray;
}

#rules {
    background-color: darkgray;
}

#text, #rules {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
}

#rules-json {
    box-sizing: border-box;
    width: 100%;
    height: 128px;
    resize: vertical;
    white-space: pre;
    word-wrap: normal;
}

button {
    width: 128px;
}
