.prev-mode * {
    visibility: hidden !important;
    overflow: visible !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    width: 0 !important;
    height: 0 !important;
    display: block !important;
    position: static !important;
}

.prev-mode .line-row {
    visibility: visible !important;

    position: relative !important;
    width: 908px !important;
    height: 157px !important;

    background-image: url('img/000.png');
}

.prev-mode .ru-trans-name {
    visibility: visible !important;

    position: absolute !important;
    top: 6px !important;
    width: 526px !important;
    text-align: center !important;;

    font-family: Verdana, sans-serif !important;
    font-size: 20.3199996948242px !important;
    color: #004EA2;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    letter-spacing: 3.13px;
    line-height: 1.36em;
}

.prev-mode .trans {
    visibility: visible !important;

    position: absolute !important;
    top: 39px !important;
    left: 97px !important;
    bottom: 0 !important;
    width: 714px !important;
    height: auto !important;

    word-break: break-all;
    background-color: transparent;
    font-family: Verdana, sans-serif;
    font-size: 1.27em;
    color: #004EA2;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    letter-spacing: 3.13px;
    line-height: 1.36em;
}

.prev-mode .trans.min-height {
    height: 1px !important;
}

.prev-mode .big-split-button {
    display: block !important;
    position: fixed !important;
    top: 16px !important;
    right: 16px !important;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
}
