html { overflow: hidden; height: 100%; }
body { overflow: auto; height: 100%; }

body {
    margin: 0;
    overflow-x: hidden;
}

.tr-popup {
    position: absolute;
    background: white;
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
}

.hover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100501;
    display: none;
}

.use-names {
    margin-bottom: 16px;
}

.all-names, .repo-list {
    padding: 16px;
    overflow-y: auto;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 16px;
    bottom: 16px;
    width: 512px;
    border: 1px solid black;
    z-index: 201000;
    background: white;
    display: none;
}

.name-list {
    width: 100%;
    font: 14px monospace;
}

.head-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    background: white;
    padding: 10px;
    z-index: 100500;
    border-bottom: 1px solid black;
}

.danger-zone-mode-on .danger-button {
    visibility: visible;
}

.danger-button {
    visibility: hidden;
}

.add-line-after {
    position: absolute;
    top: 14px;
    width: 24px;
}

.del-line {
    position: absolute;
    top: 14px;
    left: 36px;
    width: 24px;
}

.atbop {
    table-layout: fixed;
    border-top: 1px solid lightgray;
    border-collapse: collapse;
    width: 100%;
}

.lines-box {
    margin-top: 64px;
}

.line-state {
    padding-top: 24px;
    white-space: nowrap;
}

.id-code-cell {
    position: absolute;
    left: 18px;
}

.id-code {
    color: gray;
    font: 11px monospace;
}

.name {
    color: gray;
    font: 13px monospace;
}

.lines .en-line {
    height: 92px;
    overflow: auto;
    background: #e5e5e5;
    font: 13px monospace;
    padding: 8px;
    float: left;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}

.lines .jp-line {
    height: 92px;
    overflow: auto;
    background: lightgray;
    font: 13px monospace;
    padding: 8px;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}

.lines .ru-line {
    height: 64px;
    overflow: hidden;
}

textarea {
    resize: none;
}

.color-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
}

.lines textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

label {
    font: 8px sans-serif;
}

.stat-box {
    font-family: monospace;
}

.color-scroll {
    position: fixed;
    right: 0;
    top: 17px;
    bottom: 17px;
    width: 24px;
    background: gray;
    z-index: 100501;
    border: 1px solid gray;
}

.you-need-me {
    position: relative;
    overflow: hidden;
}

.add-comm {
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 10px;
    height: 20px;
}

.comm-box {
    position: relative;
}

.comm {
    width: 100%;
    background-color: rgb(193, 255, 201);
}

.del-comm {
    position: absolute;
    top: 0;
    right: 20px;
}

.print-version {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 201000;
}

.print-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.print-message {
    position: absolute;
    top: 8px;
    right: 8px;
    font-family: monospace;
    color: lightgray;
}

.scroll-info {
    position: absolute;
    top: 0;
    right: 64px;
    font-family: monospace;
    font-size: 10px;
}

.trans-info {
    position: absolute;
    top: 0;
    right: 264px;
    font-family: monospace;
    font-size: 10px;
}

.recent-filename {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    font-family: monospace;
    margin: 2px;
}

.recent-filename:hover {
    background-color: #9ac1f0;
}

.big-split-button {
    display: none;
}
