html, body, table, tr, td {
    margin: 0;
    border: 0;
    padding: 0;
    border-spacing: 0;
}

html, body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    font-family: monospace;
}

.header {
    height: 48px;
}

.json-data {
}

.inner {
}

.row {
    height: 64px;
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
}

.id-code {
    float: left;
    width: 42px;
    height: 100%;
    color: gray;
}

.line {
}

.error {
    background-color: lightpink;
}

.mn {
    position: absolute;
    top: 24px;
    left: 660px;
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
}

.rp {
    position: absolute;
    top: 24px;
    right: 40px;
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
}
