html, body, table, tr, td {
    margin: 0;
    border: 0;
    padding: 0;
    border-spacing: 0;
}

html, body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    font-family: monospace;
}

.header {
    vertical-align: top;
    height: 54px;
}

.json-data {
}

.inner {
}

.row {
    height: 64px;
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
}

.id-code {
    float: left;
    width: 42px;
    height: 100%;
    color: gray;
}

.line {
}

.error {
    background-color: lightpink;
}

.mn {
    position: absolute;
    top: 24px;
    left: 40px;
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
}

.rp {
    position: absolute;
    top: 24px;
    right: 40px;
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
}

.legend {
    display: inline-block;
    vertical-align: top;
}

.not-match-br-point {
    background-color: lightgray;
}

.big-not-match {
    background-color: black;
    color: white
}

.red-grad1 {
    background-color: rgba(255,0,0,0);
}
.red-grad2 {
    background-color: rgba(255,0,0,0.2);
}
.red-grad3 {
    background-color: rgba(255,0,0,0.4);
}
.red-grad4 {
    background-color: rgba(255,0,0,0.6);
}
.red-grad5 {
    background-color: rgba(255,0,0,0.8);
}
.red-grad6 {
    background-color: rgba(255,0,0,1);
}
